@import "tailwindcss";

@theme inline {
    --color-primary: #059669;
    --color-secondary: #022c22;
    --color-accent: #f59e0b;
    --font-poppins: "Poppins", sans-serif;
}

button {
    @apply cursor-pointer;
}

.bg-hero {
    background-image: url("/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

}

.front_text_head{
    color: #1dd1a1;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    font-size: 90px;
    font-weight: bold;
}

.front_text_sub{
    color: #1dd1a1;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    font-size: 18px;
    margin-bottom: 70px;
}
